[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
click = "*"
attrs = "*"
contoml = "*"
beautifulsoup4 = "==4.6.3"
lxml = "*"
semantic-version = "*"
thoth-common = {git = "https://github.com/harshad16/common.git",ref = "update/build-analyser"}
thoth-analyzer = {git = "https://github.com/harshad16/analyzer.git",ref = "wip"}

[dev-packages]
pytest = "*"
pytest-timeout = "*"
pytest-cov = "*"
flexmock = "*"

[requires]
python_version = "3.6"
